body {
    background-image: url(Background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.header {
    display: block;
}

.left-side-header {
    width: 40%;
    margin-top: .5%;
    margin-left: 1%;
    float: left;
}

.image-header {
    width: 45%;
}
.image-header:hover {
    cursor: pointer;
}

.right-side-header {
    float: right;
    margin-right: 50px;
    margin-top: 2%;
}
.right-side-header:hover {
    cursor: pointer;
}

.home-header-button {
    font-size: 17px;
    font-family: Outfit;
    margin-right: 70px;
    font-weight: 500;
    color: white;
    transition: color .3s;
    text-decoration: none;
}
.home-header-button:hover {
    cursor: pointer;
    color: rgb(58, 28, 120);
}

.about-header-button {
    font-size: 17px;
    font-family: Outfit;
    margin-right: 70px;
    font-weight: 500;
    color: white;
    transition: color .3s;
    text-decoration: none;
}
.about-header-button:hover {
    cursor: pointer;
    color: rgb(58, 28, 120);
}

.ourteam-header-button {
    font-size: 17px;
    font-family: Outfit;
    margin-right: 70px;
    font-weight: 500;
    color: rgb(58, 28, 120);
    transition: color .3s;
    text-decoration: none;
}
.ourteam-header-button:hover {
    cursor: pointer;
    color: rgb(58, 28, 120);
}

.contactus-header-button {
    font-size: 17px;
    font-family: Outfit;
    margin-right: 70px;
    font-weight: 500;
    color: white;
    transition: color .3s;
    text-decoration: none;
}
.contactus-header-button:hover {
    cursor: pointer;
    color: rgb(58, 28, 120);
}



.space {
    margin-top: 100px;
    display: -webkit-inline-box;
}



.about-title {
    width: 50%;
    margin: auto;
    display: block;
}
.title {
    width: 100%;
}

.pictures {
    margin-left: 53px;

}

.column {
    width: 19%;
}

.copyright {
    font-size: 15px;
    color: white;
    font-family: Outfit;
    position: absolute;
    bottom: 0;
}

.violet-footer {
    color: white;
    font-weight: bolder;
    
}




@media screen and (max-width: 1080px) {
    body {
        background-image: url(Background.png);
        background-size: 320%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    
    .header {
        display: block;
    }
    
    .left-side-header {
        width: 100%;
        float: left;
    }
    
    .image-header {
        width: 80%;
        margin-left: 8%;
        margin-top: 10%;
    }
    .image-header:hover {
        cursor: pointer;
    }
    
    .space-header {
        margin-top: 250px;
        display: -webkit-inline-box;
    }
    .right-side-header {
        float:none;
        margin-left: 12%;
        margin-top: 5%;
    }
    .right-side-header:hover {
        cursor: pointer;
    }
    
    .home-header-button {
        font-size: 36px;
        font-family: Outfit;
        margin-right: 30px;
        font-weight: 500;
        color: white;
        transition: color .3s;
    }
    .home-header-button:hover {
        cursor: pointer;
        color: rgb(58, 28, 120);
    }
    
    .about-header-button {
        font-size: 36px;
        font-family: Outfit;
        margin-right: 30px;
        font-weight: 500;
        color: white;
        transition: color .3s;
        text-decoration: none;
    }
    .about-header-button:hover {
        cursor: pointer;
        color: rgb(58, 28, 120);
    }

    .ourteam-header-button {
        font-size: 36px;
        font-family: Outfit;
        margin-right: 30px;
        font-weight: 500;
        color: rgb(58, 28, 120);
        transition: color .3s;
        text-decoration: none;
    }
    .ourteam-header-button:hover {
        cursor: pointer;
        color: rgb(58, 28, 120);
    }
    
    .contactus-header-button {
        font-size: 36px;
        font-family: Outfit;
        margin-right: 30px;
        font-weight: 500;
        color: white;
        transition: color .3s;
    }
    .contactus-header-button:hover {
        cursor: pointer;
        color: rgb(58, 28, 120);
    }

    .space {
        margin-top: 100px;
        display: -webkit-inline-box;
    }
    
    
    
    .about-title {
        width: 70%;
        margin: auto;
        display: block;
    }
    .title {
        width: 100%;
    }
    
    .pictures {
        margin-left: 53px;
        display: block;
    
    }
    
    .column {
        width: 70%;
        margin-left: 12%;
        margin-bottom: 10%;
    }

    .space-footer {
        margin-top: 0px;
        display: block;
    }
    .footer {
        background-color: black;
        margin: none;
        position: relative;
    }
    
    .copyright {
        font-size: 15px;
        color: white;
        font-family: Outfit;
        position: absolute;
        bottom: 0;
        margin-left: 20%;
    }
    
    .violet-footer {
        color: white;
        font-weight: bolder;
        
    }

}
